[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pyex = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
torch = "*"
matplotlib = "*"
scikit-learn = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.9"
