{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}OSIG Home{% endblock title %}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/research_tools.js' %}"></script>
  </head>

  <body>
    <header>
      {% block navbar %}
      <nav>
        <ul id="navbar">
          <li class="navbar-item">{% block nav-home %}<a href="{% url 'home_page' %}">Home</a>{% endblock nav-home %}</li>
          <li class="navbar-item">{% block nav-stock-research %}<a href="{% url 'stock_research' %}">Stock Research</a>{% endblock nav-stock-research %}</li>
          <a href="{% url 'home_page' %}"><img src="{% static 'images/osig-word-logo-transparent.jpg' %}" alt="OSIG Logo" /></a>
          <li class="navbar-item"><a href="{% url 'home_page' %}">Portfolio Analysis</a></li>
          <li class="navbar-item"><a href="{% url 'home_page' %}">About</a></li>
        </ul>
      </nav>
      {% endblock navbar %}
    </header>

    <div id="contents">
      {% block content %}{% endblock content %}
    </div>
  </body>
</html>