body {
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #bbbbbb;
}

nav {
    height: 100px;
}

#navbar {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-top: 25px;
}

.navbar-item {
    padding: 5px;
}

.navbar-item a {
    font-family: Quicksand;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    color: black;
    text-decoration: none;
}

#contents {
    position: absolute;
    top: 125px;
    left: 25px;
    right: 25px;
    bottom: 0;
    margin-bottom: 30px;
    display: flex;
    /*outline: solid 3px black; */
}

#screenshot {
    outline: solid 3px black;
    margin: 20px;
    height: 100%;
    width: 45%;
}

#calendar {
    position: absolute;
    right: 0;
    outline: solid 3px black;
    margin: 20px;
    width: 50%;
    height: 45%;
}

#resources {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    width: 50%;
    height: 45%;
    outline: solid 3px black;
}

#resources h1 {
    font-family: Quicksand;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    color: black;
}


/* START OF STOCK RESEARCH PAGE CSS */

h3, h2 {
    background-color: #DC4405 !important;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

button {
    background-color: #DC4405 !important;
}